<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>

  <body>
    <h1>Today</h1>
    <p><%= "The date is #{Date.today.strftime("%A")}, #{Date.today.strftime("%B")} #{Date.today.strftime("%C")}, #{Date.today.strftime("%Y")}" %></p>

  </body>
</html>
